{% extends 'base_prueba.html' %}
{% load crispy_forms_tags %}

{% block title %}Agregar Servicio{% endblock %}
{% block h1 %}Agregar servicio{% endblock %}
{% block content %}
  <form method="post" novalidate action="{% url 'agregar_servicio' %}">  
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <button type="submit" class="btn btn-success">Agregar</button>
    <a href="{% url 'index'%}" class="btn btn-danger">Cancelar</a>
  </form>
{% endblock %}
