{% extends 'base_prueba.html' %}


{% block title %}Servicios{% endblock %}
{% block h1 %}Servicios{% endblock %}
    {% block table %}
    <table class = "table">
    <a class ="btn btn-success btn-sm"  href= "{% url 'agregar_servicio' %}">Agregar Nuevo</a>
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Descripcion</th>
        </tr>
    </thead>
        {% if servicio_list %}
        {% for servicio in servicio_list %}
      <tbody>
        <tr>
        <th scope="row">{{servicio.id_servicio}}</th>
        <td> {{servicio.descripcion}} </td>
        <td><a class="btn btn-success btn-sm " href="{% url 'modificar_servicio' servicio.id_servicio %}">Editar</a></td>
        <td><a class="btn btn-danger btn-sm " href="{% url 'eliminar_servicio' servicio.id_servicio %}">Eliminar</a></td>
      </tr>
        {% endfor %}
      {% else %}
        <p>No existen servicios</p>
      {% endif %}
       </tbody>
    </table>
    <div class="container">
  </div>
  {% endblock %}

