{% extends 'base_prueba.html' %}

{% load crispy_forms_tags %}
{% block title %}Agregar Turno{% endblock %}
{% block h1 %}Agregar un nuevo Turno
{% endblock %}
{% block content %}

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Crear Turno</h6>
  </div>
    <div class="card-body">
        <form  method="POST" action="{% url 'crearturno' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-success"><span class="fa fa-save"></span> Agregar</button>
            
            <a href="{% url 'listarturnos'%}" class="btn btn-danger">Cancelar</a>
          </form>
    </div>
</div>      


{% endblock %}