{% extends 'base_prueba.html' %}

{% block title %}Turnos{% endblock %}
{% block h1 %}Turnos{% endblock %}
{% block table %}
<a href="{% url 'crearturno' %}" class="btn btn-success btn-icon-split">
  <span class="icon text-white-50">
      <i class="fas fa-plus"></i>
   </span>
   <span class="text">Agregar</span>
</a>
 

    {% regroup turnos_list by id_servicio as servicios %}

    {% for servicio in servicios %}

        <h2>{{ servicio.grouper.descripcion }}</h2>

        {% if servicio.list %}
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID Turno</th>
                        <th>Cliente</th>
                        <th>Prioridad</th>
                        <th>Status</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha de Fin</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for turno in servicio.list %}
                        <tr>
                            <td scope="row">{{ turno.id_turno }}</td>
                            <td>{{ turno.id_cliente }}</td>
                            <td>{{ turno.priority }}</td>
                            <td>{{ turno.status }}</td>
                            <td>{{ turno.date_start }}</td>
                            <td>{{ turno.date_final }}</td>
                            <td>
                              {% if forloop.counter == 1 %}
                              <form method="post" action="{% url 'finalizarturno' turno.id_turno %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary btn-icon-split" {% if turno.status == '1' %} disabled {% endif %}>
                                  <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                  </span>
                                  <span class="text">Finalizar</span>
                                </button>                            
                              </form>

                           <form method="post" action="{% url 'derivarturno' turno.id_turno %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary btn-icon-split" {% if turno.status == '1' %} disabled {% endif %}>
                                  <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                  </span>
                                  <span class="text">Derivar</span>
                                </button>                            
                              </form>
                            </td>
                              {% endif %}
                            </td>
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay turnos para este servicio.</p>
        {% endif %}
    {% endfor %}
{% endblock %}
