{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <span class="d-flex justify-content-start" style="background-color: rgb(227,242,253);">
        <h6 style="color: gray;"> Bienvenido, {{ user.first_name}} {{user.last_name}} </h3>
     </span>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'img/Gestvet.png' %}"/>
    <title>{% block title %}{% endblock %}</title>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'index'%}">Turnero</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if user.id_rol_id == 3%}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index'%}">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Citas</a>
      </li>
     {% elif user.id_rol_id == 4%}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index'%}">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Citas</a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index'%}">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listarclientes'%}">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Citas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listarpacientes'%}">Pacientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ventas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pagos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Stock</a>
      </li>
      <li class="nav-item dropdown">
        {% if user.id_rol_id == 1 %}
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Inventario
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #007BFF;">
            <a class="dropdown-item" href="{% url 'listar_marcas'%}" style="color : #FFFFFF;" >Marcas</a>
            <a class="dropdown-item" href="{% url 'listar_unidad_medida'%}" style="color : #ffffff;">Unidades de Medidas</a>
            <a class="dropdown-item" href="{% url 'listar_productos_servicios'%}" style="color : #ffffff;">Producto / Servicio</a>
            </div>
      {% endif %}
      </li>
      {% endif %}
      <li class="nav-item dropdown">
        {% if user.id_rol_id == 1 %}
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Modulo Administrador
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #007BFF;">
            <a class="dropdown-item" href="{% url 'listarroles'%}" style="color : #FFFFFF;" >Listar Roles</a>
            <a class="dropdown-item" href="{% url 'crearrol'%}" style="color : #ffffff;">Crear Rol</a>
            <a class="dropdown-item" href="{% url 'crearusuario'%}" style="color : #ffffff;">Crear Usuario</a>
            <a class="dropdown-item" href="{% url 'listarusuarios'%}" style="color : #ffffff;">Listar Usuarios</a>
            </div>
      {% endif %}
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'logout'%}">Cerrar Sesión <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>


 <div class="container">
    <div class="row justify-content-center">
      <h1 class="mt-2 ">{% block h1 %}{% endblock %}</h1>
</div>

    <div class="row justify-content-center">
      {% block table %}

      {% endblock %}
    </div>
    <div class="row justify-content-center">
      <div class="col-12">

        {% block content %}

        {% endblock %}
        <hr class="mt-0 mb-4">

      </div>
    </div>
  </div>



  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>